   <div id="page_content">
        <div id="page_heading">
            <h1>Details Annonces</h1>
        </div>
        <div id="page_content_inner">

            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
                    <div class="md-card hoverable" style="margin-bottom:20px;">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text cyan-text">
                                Photos
                            </h3>
                        </div>
                        <div class="md-card-content">     
                        </div>
                        <div class="card-image">
                                <img src="assets/images/voiture1.jpg">
                                <span class="card-title">Peugeot 307 </span>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn cyan right" ><i class="mdi-content-clear left"></i>Signaler</a>
                </div>
                <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
                    <div class="md-card hoverable">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text cyan-text">
                                Details
                            </h3>
                        </div>
                        <div class="md-card-content large-padding">
                            <div class="uk-grid uk-grid-divider uk-grid-medium">
                                <div class="uk-width-large-1-2">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="uk-width-large-1-3">
                                            <span class="uk-text-muted uk-text-small">Product Name</span>
                                        </div>
                                        <div class="uk-width-large-2-3">
                                            <span class="uk-text-large uk-text-middle"><a href="#">Peugeot 307</a></span>
                                        </div>
                                    </div>
                                    <hr class="uk-grid-divider">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="uk-width-large-1-3">
                                            <span class="uk-text-muted uk-text-small">Prix</span>
                                        </div>
                                        <div class="uk-width-large-2-3">
                                            2 500 000 FrCfa
                                        </div>
                                    </div>
                                    <hr class="uk-grid-divider">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="uk-width-large-1-3">
                                            <span class="uk-text-muted uk-text-small">Quantite</span>
                                        </div>
                                        <div class="uk-width-large-2-3">
                                            2
                                        </div>
                                    </div>
                                    <hr class="uk-grid-divider uk-hidden-large">
                                </div>
                                <div class="uk-width-large-1-2">
                                    <p>
                                        <span class="uk-text-muted uk-text-small uk-display-block uk-margin-small-bottom">Description</span>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam necessitatibus suscipit velit voluptatibus! Ab accusamus ad adipisci alias aliquid at atque consectetur, dicta dignissimos, distinctio dolores esse fugiat iste laborum libero magni maiores maxime modi nemo neque, nesciunt nisi nulla optio placeat quas quia quibusdam quis saepe sit ullam!
                                    </p>
                                    <hr class="uk-grid-divider">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="uk-width-large-1-3">
                                            <span class="uk-text-muted uk-text-small">Categorie</span>
                                        </div>
                                        <div class="uk-width-large-2-3">
                                            Vente
                                        </div>
                                    </div>
                                    <hr class="uk-grid-divider">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="uk-width-large-1-3">
                                            <span class="uk-text-muted uk-text-small">Color</span>
                                        </div>
                                        <div class="uk-width-large-2-3">
                                            Blue
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-primary cyan" href="#">
            <i class="mdi-content-send"></i>
        </a>
    </div>