<!--start container-->
        <div class="container" style="padding-top:20px;">
          <div class="section">
            <!-- statr products list -->
            <div class="row" >
            <div class="col s12" style="margin-bottom:10px;">
                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable z-depth-1">
                      <div class="card-image waves-effect waves-block waves-light">
                        <a class="btn-floating btn-large btn-price waves-effect waves-light  red accent-2">$19</a>
                        <img class="activator" src="assets/images/voiture0.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a href="annonce/details"  class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div> 

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  red accent-2">$189</a>
                        <img class="activator" src="assets/images/voiture1.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                           <li><a href="annonce/details" class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div> 

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  red accent-2">$184</a>
                        <img class="activator" src="assets/images/voiture2.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a href="annonce/details" class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
            </div>

            <div class="col s12" style="margin-bottom:10px;">   
                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voiture2.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                            </li>
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                            </li>
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  red accent-2">$189</a>

                        <img class="activator" src="assets/images/voiture3.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>  


                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voiture4.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
            </div>

            <div class="col s12" style="margin-bottom:10px;">
                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voitureTC.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/limousine.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voiture0.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
            </div>

            <div class="col s12" style="margin-bottom:10px;">
                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable z-depth-1">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voiture7.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div> 

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voiture6.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div> 

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voiture8.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
            </div>

            <div class="col s12" style="margin-bottom:10px;">
                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable z-depth-1">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voiture5.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div> 

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/voitureTC1.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div> 

                <div id="card-reveal" >
              <div class="col s4 ">
                <div class="row">
                  <div class="col s12 product">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/limousine1.jpg" alt="office">
                      </div>
                      <ul class="card-action-buttons ">
                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-image-remove-red-eye"></i></a>
                            </li>
                            <li><a href="#modal1" class="btn-floating waves-effect waves-light green accent-4 modal-trigger"><i class="mdi-image-iso"></i></a>
                            </li>
                            
                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                            </li>
                        </ul>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
            </div>

            </div>
            <!--/ end items list -->
          </div>
          <!-- Floating Action Button -->
            <div class="fixed-action-btn" style="bottom: 45px; left:24px;">
                <a class="btn-floating btn-large cyan">
                  <i class="large mdi-maps-local-grocery-store"></i>
                </a>
                  
            </div>

            <div id="modal1" class="modal" style="width:20%;">
            <div class="modal-content">
                <h5>la quantite voulu</h5>
            <form >
                <div class=" input-field">
                <div >
                    <input type="number">
                </div>
                </div>
            </form>
        
                </div>
                <div class="modal-footer">
       
                <a  class="teal modal-action modal-close waves-effect waves-green btn-flat enregistrer"><span class="white-text">Valider</span></a>
                <a  class=" modal-action modal-close waves-effect waves-green btn-flat ">annuler</a>
                </div>
            </div>
            <!-- Floating Action Button -->
        </div>
        <!--end container-->